* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: /*#A67DE3*/; /*header BG color*/
    background: linear-gradient(to right, rgba(137, 103, 179, 1), rgba(137, 103, 179, 0.1));
    height: 5vh;
    width: 100%;
    color: #302131; /*header Font colro*/
    font-size: 20px;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

    header nav a {
        color: #302131; /*header Clickable colors*/
        text-decoration: none;
        font-size: 15px;
        padding: 15px 30px;
        border-radius: 20px;
    }

        header nav a:hover {
            /*text-decoration: underline;*/
            background-color: rgba(137, 103, 179, 0.5);
            color: white;
        }
        header nav a.current {
            background-color: rgba(137, 103, 179, .9);
            color: white;
        }

body {
    background: linear-gradient( to bottom, rgba(137, 103, 179, 0.5), /* #8967B3 with transparency */
    rgba(203, 128, 171, 0.4), /* #CB80AB with transparency */
    rgba(230, 217, 162, 0.3) /* #E6D9A2 with transparency */
    );
    height: auto; /* Adjusted height to allow the content to dictate the height */
}

    body h2 {
        font-size: 32px; /* Set the font size of h1 within the body */
    }

    body p1 {
        font-size: 16px;
    }

main {
    color: #302131; /* body font color */
    font-size: 18px;
    margin: 100px;
    margin-right: 20vw;
    margin-left: 20vw;
    flex: 1; /* Ensures main takes up remaining space */
}

footer {
    width: 100%;
    background-color: rgba(137, 103, 179, 0.1);
    color: #302131;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Pushes footer to the bottom */
}
